<div class="row">
	<div class="col-md-7 col-md-offset-3 container content-column">
		<table class="admin-tools">
			<tr>
				<td><a href="/admin/news">Управление новостями</a></td>
			</tr>
		</table>
	</div>
</div>