<div class="row">
	<div class="col-md-7 col-md-offset-3 container content-column">
		<div class="row">
			<div class="col-md-12 news-preview">
				<h2>Title</h2>
				<h4>01.01.2015</h4>
				<img src="images/placehold.jpg">
				<p>Lorem ipsum dolor sit amet, fringilla risus vivamus donec eget sollicitudin amet, est id integer vel, commodo condimentum diam. Neque nunc eros mauris in elit, vestibulum maecenas ut feugiat sit velit ut. Non risus integer orci vel morbi, faucibus ullamcorper elit fringilla lectus viverra donec. Pellentesque eu sagittis eros primis nascetur, suspendisse donec eros quibusdam vestibulum enim mi, id ante ut wisi donec neque. Turpis sit convallis, aliquam mattis rutrum porta pellentesque arcu pharetra, sapien elit nunc diam in ligula. Quam mauris orci sapien purus eu. Minus purus tortor, mi fusce suspendisse sagittis, in at volutpat sociosqu consectetuer urna, mauris eros mi nec nec, et id enim. Dui ac faucibus ut, viverra tellus vitae vitae dolor et rhoncus, eget consequat eleifend suscipit expedita, vestibulum eleifend orci adipiscing nascetur consequat. Nonummy dictumst ac. Bibendum turpis non, erat suspendisse ligula ac, lorem quam mi cras id urna, dignissim sagittis non nunc luctus lectus, iaculis donec odio tincidunt. Id aenean, vestibulum facilisis. Vivamus eros erat, integer nostra.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 news-preview">
				<h2>Title</h2>
				<h4>01.01.2015</h4>
				<img src="images/placehold.jpg">
				<p>Lorem ipsum dolor sit amet, fringilla risus vivamus donec eget sollicitudin amet, est id integer vel, commodo condimentum diam. Neque nunc eros mauris in elit, vestibulum maecenas ut feugiat sit velit ut. Non risus integer orci vel morbi, faucibus ullamcorper elit fringilla lectus viverra donec. Pellentesque eu sagittis eros primis nascetur, suspendisse donec eros quibusdam vestibulum enim mi, id ante ut wisi donec neque. Turpis sit convallis, aliquam mattis rutrum porta pellentesque arcu pharetra, sapien elit nunc diam in ligula. Quam mauris orci sapien purus eu. Minus purus tortor, mi fusce suspendisse sagittis, in at volutpat sociosqu consectetuer urna, mauris eros mi nec nec, et id enim. Dui ac faucibus ut, viverra tellus vitae vitae dolor et rhoncus, eget consequat eleifend suscipit expedita, vestibulum eleifend orci adipiscing nascetur consequat. Nonummy dictumst ac. Bibendum turpis non, erat suspendisse ligula ac, lorem quam mi cras id urna, dignissim sagittis non nunc luctus lectus, iaculis donec odio tincidunt. Id aenean, vestibulum facilisis. Vivamus eros erat, integer nostra.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 news-preview">
				<h2>Title</h2>
				<h4>01.01.2015</h4>
				<img src="images/placehold.jpg">
				<p>Lorem ipsum dolor sit amet, fringilla risus vivamus donec eget sollicitudin amet, est id integer vel, commodo condimentum diam. Neque nunc eros mauris in elit, vestibulum maecenas ut feugiat sit velit ut. Non risus integer orci vel morbi, faucibus ullamcorper elit fringilla lectus viverra donec. Pellentesque eu sagittis eros primis nascetur, suspendisse donec eros quibusdam vestibulum enim mi, id ante ut wisi donec neque. Turpis sit convallis, aliquam mattis rutrum porta pellentesque arcu pharetra, sapien elit nunc diam in ligula. Quam mauris orci sapien purus eu. Minus purus tortor, mi fusce suspendisse sagittis, in at volutpat sociosqu consectetuer urna, mauris eros mi nec nec, et id enim. Dui ac faucibus ut, viverra tellus vitae vitae dolor et rhoncus, eget consequat eleifend suscipit expedita, vestibulum eleifend orci adipiscing nascetur consequat. Nonummy dictumst ac. Bibendum turpis non, erat suspendisse ligula ac, lorem quam mi cras id urna, dignissim sagittis non nunc luctus lectus, iaculis donec odio tincidunt. Id aenean, vestibulum facilisis. Vivamus eros erat, integer nostra.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Lorem ipsum dolor sit amet, fringilla risus vivamus donec eget sollicitudin amet, est id integer vel, commodo condimentum diam. Neque nunc eros mauris in elit, vestibulum maecenas ut feugiat sit velit ut. Non risus integer orci vel morbi, faucibus ullamcorper elit fringilla lectus viverra donec.</p>
		<p>Vladivostok 2015</p>
	</div>
</div>