<script src="/linker/js/login.js"></script>
<div class="jumbotron">
	<form class="form-signin" role="form">
		<h2 class="form-signin-heading">Авторизация</h2>
		<label class="sr-only" for="login-text"></label>
		<input id="login-text" class="form-control" type="text" autofocus="" required="true" placeholder="Логин"></input>
		<label class="sr-only" for="password-text"></label>
		<input id="password-text" class="form-control" type="password" required="true" placeholder="Пароль"></input>
		<button class="btn btn-lg btn-success btn-block" id="btn-enter">Войти</button>
	</form>
</div>