<script src="/linker/js/signup.js"></script>
<div class="jumbotron">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Регистрация</h2>
        <label class="sr-only" for="login-text"></label>
        <input id="login-text" class="form-control" type="text" autofocus="" required placeholder="Логин"></input>
        <label class="sr-only" for="password-text"></label>
        <input id="password-text" class="form-control" type="password" required placeholder="Пароль"></input>
        <label class="sr-only" for="firstname-text"></label>
        <input id="firstname-text" class="form-control" type="text" required placeholder="Ваше имя"></input>
        <label class="sr-only" for="middlename-text"></label>
        <input id="middlename-text" class="form-control" type="text" placeholder="Ваше отчество"></input>
        <label class="sr-only" for="lastname-text"></label>
        <input id="lastname-text" name="last_name" class="form-control" type="text" required placeholder="Ваша фамилия"></input>
        <button class="btn btn-lg btn-success btn-block" id="btn-ok">Зарегистрироваться</button>
    </form>
</div>