<script src="/linker/js/testUser.js"></script>

<div class="row">
	<div class="col-md-6">
		<form>
			<div class="form-group">
				<label for="login" class="control-label">Login</label>
				<input type="text" class="form-control" id="login">
			</div>
			<button id="btn-save" type="button" class="btn btn-success">Сохранить</button>
		</form>
	</div>
</div>