img.avatar {
	width: 200px;
}

img.avatar-preview {
	width: 100px;
	display: inline-block;
}

h3.name-preview {
	display: inline-block;
	margin-left: 20px;
}

div.user-name {
	text-align: center;
}

div.profile-well {
	margin-top: 20px;
}

li.list-group-item.contact {
	height: 40px;
	padding: 4px 20px;
}