.loader {
	top: 37vh;
	margin: 0px auto;
	position: relative;
}

.navbar-inner {
	min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
	line-height: 100px;
	height: 100px;
	padding-top: 0;
}

.navbar-inverse {
	background-color: #012340 !important;
	background-image: none !important;
	border: none;
}

div.title {
	color: #FFF;
	text-align: center;
}

div.header-middle {
	width: 900px;
	margin: 0 auto;
}

img.logo {
	width: 77px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.in-da-middle {
	font-family: 'Yeseva One', cursive;
	text-align: center;
	top: 5vh;
	position: relative;
	background-color: #FFF;
	opacity: 1;
}

.btn-success {
	background-color: #0487D9 !important;
	border: 1px solid #000 !important;
}

.btn-success:hover {
	background-color: #03588C !important;
	border: 1px solid #03588C !important;
}

.main-text {
	font-size: 30pt;
}

body {
	background-color: #EEE;
	padding-top: 150px;
}

div.left-menu {
	background-color: #EEE;
	position: fixed;
	top: 150px;
	left: 0px;
	width: 300px;
	padding: 10px;
	-webkit-box-shadow: 8px 5px 17px 0px rgba(50, 50, 50, 0.85);
	-moz-box-shadow:    8px 5px 17px 0px rgba(50, 50, 50, 0.85);
	box-shadow:         8px 5px 17px 0px rgba(50, 50, 50, 0.85);
}

div.alerts {
	width: 100%;
	position: absolute;
	z-index: 1;
}

div.news-preview {
	/*padding-left: 10px;*/
	/*margin-right: 10px;*/
	margin-top: 10px;
	width: 95%;
	left: 2.5%;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
    /*-webkit-transition: all 0.5s linear;*/
    /*-o-transition: all 0.5s linear;*/
    /*-moz-transition: all 0.5s linear;*/
    /*-ms-transition: all 0.5s linear;*/
    /*-kthtml-transition: all 0.5s linear;*/
    /*transition: all 0.5s linear;*/
    cursor: pointer;
}

div.news-preview:hover {
	/*-webkit-box-shadow: 8px 5px 17px 0px rgba(50, 50, 50, 0.85);*/
	/*-moz-box-shadow:    8px 5px 17px 0px rgba(50, 50, 50, 0.85);*/
	/*box-shadow:         8px 5px 17px 0px rgba(50, 50, 50, 0.85);*/
	/*margin-left: 10px;*/
	background-color: #EEFFFF;
}

div.news-content {
	overflow: hidden;
	padding: 20px;
	border-top: 1px solid #BBB;
}

div.news-preview > h2 {
	color: #0487D9;
}

div.news-preview h4, div.news-header > h4 {
	color: #777;
	font-family: cursive;
	font-size: 14px;
	font-weight: 300;
}

div.news-preview img {
	width: 150px;
	height: 200px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

div.news-preview::after {
	clear: both;
}

div.content-column {
	/*background-color: #EDFDFD;*/
	margin-bottom: 20px;
	min-height: 85vh;
	padding: 20px;
	color: #012340;
	background-color: #FFF;
/*	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #C9FFFF)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C9FFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C9FFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C9FFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C9FFFF 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #C9FFFF 100%);*/
	-webkit-box-shadow: 0px 0px 26px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 26px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 26px 0px rgba(50, 50, 50, 1);
}

#locale-select {
	width: 50px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#admin-enter a{
	color: #FFF;
}

#admin-enter a:hover {
	color: #FFF;
}

#news-card {
	position: absolute;
}

div.main-info {
	min-height: 80px;
	text-align: center;
	background-color: #0487D9;
	color: #C9FFFF;
	margin-bottom: 10px;
	vertical-align: middle;
}

div.main-info img {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 77px;
}